<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Indicadores</title>
     <link rel="stylesheet" type="text/css" href="../styles/semanticUi.css">
  <link rel="stylesheet" type="text/css" href="../styles/indicadores.css">
</head>
<body>

            <div class="ui container">
            
            <h1 class="ui center aligned header" id="titulo"> Indicadores CDP</h1> 
        
            <div class="ui segment">
            
         <img class="ui centered medium image" src="../img/company_logoPNG.png">
         
         <!--Formulário para Inserir os Indicadores-->
         
<div class="ui top attached tabular menu">
        <a class="active item" data-tab="processos">Processos</a>
         <a class="item" data-tab="setorial">Setorial</a>
    <a class="item" data-tab="estrategicos">Estratégicos</a>
</div>

<!--Aba Processos-->
    <div class="ui bottom attached active tab segment" data-tab="processos">
        Processos
    </div>
    
<!--Aba Setorial-->
    <div class="ui bottom attached tab segment" data-tab="setorial">
        Setorial
    </div>
    
<!--Aba Estratégicos-->
    <div class="ui bottom attached tab segment" data-tab="estrategicos">
        Estratégicos
    </div>



         <img id="bordao" class="ui centered huge rounded image" src="../img/indicadores_1.jpg">
        
        </div>
        
        </div>
        
  


         <script src="../scripts/JQuery.js"></script>
    <script src="../scripts/semantic-ui.js"></script>
     <script src="../scripts/indicadores.js"></script>
</body>
</html>