<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Indicadores</title>
     <link rel="stylesheet" type="text/css" href="../styles/semanticUi.css">
  <link rel="stylesheet" type="text/css" href="../styles/indicadores.css">
</head>
<body>

            <div class="ui container">
            
            <h1 class="ui center aligned header" id="titulo"> Indicadores CDP</h1> 
        
            <div class="ui segment">
            
         <img class="ui centered medium image" src="../img/company_logoPNG.png">
         
         
         <h1 class="ui header">Área: <span id="area"></span> Mês: <span id="mes"></span></h1>
         
         
         <!--Formulário para Inserir os Indicadores-->
         
<div class="ui top attached tabular menu">
        <a class="active item" data-tab="processos">Processos</a>
         <a class="item" data-tab="setorial">Setorial</a>
    <a class="item" data-tab="estrategicos">Estratégicos</a>
</div>

<!--Aba Processos-->
    <div class="ui bottom attached active tab segment" data-tab="processos">
    
        <!--Form input das informações-->
        
        <div id="processos" class="ui form">
        
 
       <!--Final dos Processos-->

    </div>
    </div>
  
    
<!--Aba Setorial-->
    <div class="ui bottom attached tab segment" data-tab="setorial">
        
     <div  id="setorial" class="ui form">
     

    
        <!--Final dos Setorial-->

    </div>
    </div>
    
<!--Aba Estratégicos-->
    <div class="ui bottom attached tab segment" data-tab="estrategicos">
        
    <div id="estrategicos" class="ui form">
    
      <!--Final dos estratégicos-->
      
    </div>
    </div>
        
<!--Final da Página-->
              <button id="confirmar" class="positive ui button" style="margin-top:5%; margin-left:45%;">Finalizar</button>
                  
                  <!--Finalização-->
                  <div class="ui basic modal">
  <div class="ui icon header">
   <i class="clipboard check icon"></i>
    Finalizar o Preenchimento dos Indicadores
  </div>
  <div class="content">
    <p>Você tem certeza que quer finalizar?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
        Não
    </div>
    <div class="ui green ok inverted button" id="escrever">
      <i class="checkmark icon"></i>
      Sim
    </div>
  </div>
</div>
<!--Finalização-->

<div class="ui fullscreen modal" id="final">
   <div class="content">
   
   <div class="ui form">
   <div class="field">
 <label>Avaliação Gerencial</label>
     <textarea id="avaliacao"></textarea>
    </div>
    
      <div class="field">
      <label>Planos de Ação</label>
      <textarea id="planos"></textarea>
    </div>
    </div>
    </div>
    
    <div class="actions">
    <div class="ui positive right labeled icon button" id="gerarpdf">
      Finalizar e Imprimir
      <i class="print icon"></i>
    </div>
  </div>
</div>

<!--Escrever Modal-->

         <img id="bordao" class="ui centered huge rounded image" src="../img/indicadores_1.jpg">
        
        </div>
        
     </div>
        
  

       <div class="ui inverted bottom fixed borderless menu">
  <div class="item">
    GEGEST - Matheus Ryuki Medeiros Kaiya 2018&#9400; 
  </div>
</div>
         <script src="../scripts/JQuery.js"></script>
    <script src="../scripts/semantic-ui.js"></script>
     <script src="../scripts/indicadores.js"></script>
     <script src="../scripts/jsPDF.js"></script>
</body>
</html>