<!DOCTYPE html>
<html>
<head>
    <title>Indicadores</title>
     <link rel="stylesheet" type="text/css" href="../styles/semanticUi.css">
  <link rel="stylesheet" type="text/css" href="../styles/indicadores.css">
</head>
<body>

            <div class="ui container">
            
            <h1 class="ui center aligned header" id="titulo"> Indicadores CDP</h1> 
        
         <img class="ui centered medium image" src="../img/company_logoPNG.png">
         
         <!--Formulário para Inserir os Indicadores-->
         
<div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">First</a>
         <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
</div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        First
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>



         <img class="ui centered huge rounded image" src="../img/indicadores_1.jpg">
        
        
        
        </div>
        
  


         <script src="../scripts/JQuery.js"></script>
    <script src="../scripts/semantic-ui.js"></script>
     <script src="../scripts/indicadores.js"></script>
</body>
</html>